.sticker {
    background: none;
    padding: .75rem;
    display: flex;
    width: 100%;
    border: 1px solid gray;
    margin-top: -1px;
    align-items: center;
}

.sticker-name {
    flex: 1;
}

    .sticker:is(:hover) {
        background: #23232a;
    }

.rarity-highgrade {
    color: #4b69ff;
}

.rarity-remarkable {
    color: #8847ff;
}

.rarity-exotic {
    color: #d32ee6;
}

.rarity-extraordinary {
    color: #eb4b4b;
}

.rarity-contraband {
    color: #ffae39;
}


