@inherits LayoutComponentBase

<div class="main-wrapper">
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/logo/logo.png" alt="CS2 Gencodes">
            </a>
        </div>
    </nav>

    <main class="container-fluid pt-3">
        @Body
    </main>

    <footer class="bg-body-tertiary p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3">

                    <div class="d-flex gap-3 text-light mb-3">
                        <a target="_blank" href="https://steamcommunity.com/id/_orphy_"><i class="fa-brands fa-steam fa-xl"></i></a>
                        <a target="_blank" href="https://twitch.tv/erdbeerchen02"><i class="fa-brands fa-twitch fa-xl"></i></a>
                        <a target="_blank" href="https://youtube.com/marvinkleinmusic"><i class="fa-brands fa-youtube fa-xl"></i></a>
                        <a target="_blank" href="https://github.com/MarvinKlein1508"><i class="fa-brands fa-github fa-xl"></i></a>
                    </div>

                    <p class="mb-4">Special thanks to Anxioustricky for helping us collecting all the skin data.</p>

                    <p class="mb-4">Special thanks to dr3fty for helping us out with generating the inspect links.</p>



                </div>
                <div class="col-md-4 col-lg-3">

                    <h4>Learn More</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="changelog">Changelog</a></li>
                    </ul>


                </div>


            </div>
            <p class="text-center">&copy; 2023 Marvin Klein. All rights reserved.</p>
        </div>
    </footer>

</div>