@inherits LayoutComponentBase

<div class="content-wrapper bg-dark text-inverse">
    <header class="wrapper p-6">
        <nav class="navbar navbar-expand-lg center-logo transparent navbar-light">
            <div class="container flex-lg-row flex-nowrap align-items-center">
                <div class="navbar-brand w-100">
                    <h2 class="text-white">CSGO Gencode Generator</h2>
                </div>
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.navbar -->
    </header>
    <!-- /header -->

    @Body

</div>
<!-- /.content-wrapper -->
<footer class="bg-dark text-inverse">
    <div class="container py-13 py-md-15">
        <div class="row gy-6 gy-lg-0">
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <p class="mb-4">© 2023 Marvin Klein. <br class="d-none d-lg-block" />All rights reserved.</p>
                    <nav class="nav social social-white">
                        <a href="#"><i class="uil uil-twitter"></i></a>
                        <a href="#"><i class="uil uil-facebook-f"></i></a>
                        <a href="#"><i class="uil uil-dribbble"></i></a>
                        <a href="#"><i class="uil uil-instagram"></i></a>
                        <a href="#"><i class="uil uil-youtube"></i></a>
                    </nav>
                    <!-- /.social -->
                </div>
                <!-- /.widget -->
            </div>


        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</footer>