.sticker {
    background: none;
    padding: .75rem;
    display: flex;
    width: 100%;
    border: none;
    border-top: 1px solid gray;
    min-height: 95px;
    align-items: center;
    margin-top: -1px;
}


.sticker-name {
    flex: 1;
}

.sticker:is(:hover) {
    background: #23232a;
}
