@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.7t9tbfaemk.bundle.scp.css';

/* /Components/DisplaySticker.razor.rz.scp.css */
.sticker[b-6cbi4dkca6] {
    background: none;
    padding: .75rem;
    display: flex;
    width: 100%;
    border: none;
    border-top: 1px solid gray;
    min-height: 95px;
    align-items: center;
    margin-top: -1px;
}


.sticker-name[b-6cbi4dkca6] {
    flex: 1;
}

    .sticker:is(:hover)[b-6cbi4dkca6] {
        background: #23232a;
    }

.rarity-highgrade[b-6cbi4dkca6] {
    color: #4b69ff;
}

.rarity-remarkable[b-6cbi4dkca6] {
    color: #8847ff;
}

.rarity-exotic[b-6cbi4dkca6] {
    color: #d32ee6;
}

.rarity-extraordinary[b-6cbi4dkca6] {
    color: #eb4b4b;
}

.rarity-contraband[b-6cbi4dkca6] {
    color: #ffae39;
}


/* /Components/DisplayWeapon.razor.rz.scp.css */
.weapon[b-0b8u1kaf4h] {
    background: none;
    padding: .75rem;
    display: flex;
    width: 100%;
    border: none;
    border-top: 1px solid gray;
    min-height: 95px;
    align-items: center;
    margin-top: -1px;
}

.weapon-name[b-0b8u1kaf4h] {
    flex: 1;
}
    .weapon:is(:hover)[b-0b8u1kaf4h] {
        background: #23232a;
    }
    


.rarity-consumer[b-0b8u1kaf4h] {
    color: #b0c3d9;
}

.rarity-industrial[b-0b8u1kaf4h] {
    color: #5e98d9;
}

.rarity-milspec[b-0b8u1kaf4h] {
    color: #4b69ff;
}

.rarity-restricted[b-0b8u1kaf4h] {
    color: #8847ff;
}

.rarity-classified[b-0b8u1kaf4h] {
    color: #d32ee6;
}

.rarity-covert[b-0b8u1kaf4h] {
    color: #eb4b4b;
}

.rarity-contraband[b-0b8u1kaf4h] {
    color: #ffae39;
}
/* /Components/MainLayout.razor.rz.scp.css */
.page[b-h7bl54dpmw] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-h7bl54dpmw] {
    flex: 1;
}

.sidebar[b-h7bl54dpmw] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-h7bl54dpmw] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-h7bl54dpmw]  a, .top-row[b-h7bl54dpmw]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-h7bl54dpmw]  a:hover, .top-row[b-h7bl54dpmw]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-h7bl54dpmw]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-h7bl54dpmw] {
        display: none;
    }

    .top-row.auth[b-h7bl54dpmw] {
        justify-content: space-between;
    }

    .top-row[b-h7bl54dpmw]  a, .top-row[b-h7bl54dpmw]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-h7bl54dpmw] {
        flex-direction: row;
    }

    .sidebar[b-h7bl54dpmw] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-h7bl54dpmw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-h7bl54dpmw]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-h7bl54dpmw], article[b-h7bl54dpmw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
