/* /Components/DisplaySticker.razor.rz.scp.css */
.sticker[b-8puwb53nm1] {
    background: none;
    padding: .75rem;
    display: flex;
    width: 100%;
    border: none;
    border-top: 1px solid gray;
    min-height: 95px;
    align-items: center;
    margin-top: -1px;
}


.sticker-name[b-8puwb53nm1] {
    flex: 1;
}

    .sticker:is(:hover)[b-8puwb53nm1] {
        background: #23232a;
    }

.rarity-highgrade[b-8puwb53nm1] {
    color: #4b69ff;
}

.rarity-remarkable[b-8puwb53nm1] {
    color: #8847ff;
}

.rarity-exotic[b-8puwb53nm1] {
    color: #d32ee6;
}

.rarity-extraordinary[b-8puwb53nm1] {
    color: #eb4b4b;
}

.rarity-contraband[b-8puwb53nm1] {
    color: #ffae39;
}


/* /Components/DisplayWeapon.razor.rz.scp.css */
.weapon[b-2ze5yo7wer] {
    background: none;
    padding: .75rem;
    display: flex;
    width: 100%;
    border: none;
    border-top: 1px solid gray;
    min-height: 95px;
    align-items: center;
    margin-top: -1px;
}

.weapon-name[b-2ze5yo7wer] {
    flex: 1;
}
    .weapon:is(:hover)[b-2ze5yo7wer] {
        background: #23232a;
    }
    


.rarity-consumer[b-2ze5yo7wer] {
    color: #b0c3d9;
}

.rarity-industrial[b-2ze5yo7wer] {
    color: #5e98d9;
}

.rarity-milspec[b-2ze5yo7wer] {
    color: #4b69ff;
}

.rarity-restricted[b-2ze5yo7wer] {
    color: #8847ff;
}

.rarity-classified[b-2ze5yo7wer] {
    color: #d32ee6;
}

.rarity-covert[b-2ze5yo7wer] {
    color: #eb4b4b;
}

.rarity-contraband[b-2ze5yo7wer] {
    color: #ffae39;
}
/* /Components/MainLayout.razor.rz.scp.css */
.page[b-tvkf1k6cyt] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-tvkf1k6cyt] {
    flex: 1;
}

.sidebar[b-tvkf1k6cyt] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-tvkf1k6cyt] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-tvkf1k6cyt]  a, .top-row[b-tvkf1k6cyt]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-tvkf1k6cyt]  a:hover, .top-row[b-tvkf1k6cyt]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-tvkf1k6cyt]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-tvkf1k6cyt] {
        display: none;
    }

    .top-row.auth[b-tvkf1k6cyt] {
        justify-content: space-between;
    }

    .top-row[b-tvkf1k6cyt]  a, .top-row[b-tvkf1k6cyt]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-tvkf1k6cyt] {
        flex-direction: row;
    }

    .sidebar[b-tvkf1k6cyt] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tvkf1k6cyt] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-tvkf1k6cyt]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-tvkf1k6cyt], article[b-tvkf1k6cyt] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Components/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-km3ijxlol1] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-km3ijxlol1] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-km3ijxlol1] {
    font-size: 1.1rem;
}

.oi[b-km3ijxlol1] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-km3ijxlol1] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-km3ijxlol1] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-km3ijxlol1] {
        padding-bottom: 1rem;
    }

    .nav-item[b-km3ijxlol1]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-km3ijxlol1]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-km3ijxlol1]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-km3ijxlol1] {
        display: none;
    }

    .collapse[b-km3ijxlol1] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-km3ijxlol1] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
