@inherits LayoutComponentBase

<div class="main-wrapper">
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/logo/logo.png" alt="CS2 Gencodes">
            </a>

            <div class="navbar-menu">
                <button type="button" class="btn btn-default" @onclick="async () => await _settingsModal.ShowAsync()">
                    <i class="fa-solid fa-gear"></i>
                </button>
            </div>
        </div>
    </nav>

    <main class="container-fluid pt-3">
        <CascadingValue Value="_settings">
            @Body
        </CascadingValue>
    </main>

    <footer class="bg-body-tertiary p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3">

                    <div class="d-flex gap-3 text-light mb-3">
                        <a target="_blank" href="https://steamcommunity.com/id/_orphy_"><i class="fa-brands fa-steam fa-xl"></i></a>
                        <a target="_blank" href="https://twitch.tv/orphycs"><i class="fa-brands fa-twitch fa-xl"></i></a>
                        <a target="_blank" href="https://youtube.com/marvinkleinmusic"><i class="fa-brands fa-youtube fa-xl"></i></a>
                        <a target="_blank" href="https://github.com/MarvinKlein1508"><i class="fa-brands fa-github fa-xl"></i></a>
                    </div>

                    <p class="mb-4">Special thanks to Anxioustricky for helping us collecting all the skin data.</p>

                    <p class="mb-4">Special thanks to dr3fty for helping us out with generating the inspect links.</p>



                </div>
                <div class="col-md-4 col-lg-3">

                    <h4>Learn More</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="changelog">Changelog</a></li>
                    </ul>


                </div>


            </div>
            <p class="text-center">&copy; 2023 Marvin Klein. All rights reserved.</p>
        </div>
    </footer>

</div>

<Modal @ref="_settingsModal" Title="Settings" ModalType="ModalType.Dark" CloseIconColor="IconColor.Light">
    <BodyTemplate>
        <Switch @bind-Value="_settings.MinMaxFloats" Label="Apply Min & Max floats when weapon switches" />
        <Switch @bind-Value="_settings.WeaponFilter.IncludeKnives" Label="Include knives in search results" />
    </BodyTemplate>
</Modal>

@code {
    private Modal _settingsModal = default!;

    private CSGencodesSettings _settings = new();
}