@page "/changelog"
@page "/CSGO-GEN/changelog"

<PageTitle>Changelog</PageTitle>

<section id="skingenerator">
    <div class="wrapper">
        <div class="container py-14 py-md-17">
            <div class="changelog">
                <h3 class="text-white">Changelog</h3>
                <ul>
                    <li>
                        2023-11-04
                        <ul>
                            <li>Fixed M4A4 Red DDPAT</li>
                        </ul>
                    </li>
                    <li>
                        2023-11-03
                        <ul>
                            <li>Added missing sticker previews for Gold &amp; Foil souvenir stickers</li>
                            <li>Added missing Katowice 2014 Foils &amp; Gold stickers</li>
                        </ul>
                    </li>
                    <li>
                        2023-10-31
                        <ul>
                            <li>Added missing Battlefield 2042 Sticker Capsule stickers</li>
                        </ul>
                    </li>
                    <li>
                        2023-10-30
                        <ul>
                            <li>Fixed wrong sticker order for !gen links</li>
                            <li>Fixed an issue when calculating the float value for inspect links</li>
                        </ul>
                    </li>
                    <li>
                        2023-10-22
                        <ul>
                            <li>Fixed preview images for Into The Breach stickers from Paris 2023</li>
                        </ul>
                    </li>
                    <li>
                        2023-10-21
                        <ul>
                            <li>Added weapon previews to search</li>
                            <li>Added show all weapons by typing * into the search field</li>
                            <li>Fixed SSG 08 | Hand Brake is being showed twice</li>
                            <li>Fixed UMP-45 | Fade is being showed twice</li>
                            <li>Fixed displaying rarity of AK-47 Elite Build</li>
                            <li>Fixed missing Duel Berettas | Twin Turbo for Inferno 2018 collection</li>
                            <li>Fixed a bunch of broken knives</li>
                        </ul>
                    </li>
                    <li>
                        2023-10-19
                        <ul>
                            <li>Allow to change sticker position</li>
                        </ul>
                    </li>
                    <li>
                        2023-10-18
                        <ul>
                            <li>Fixed Epsilon eSport (Holo) Cologne 2014 sticker</li>
                            <li>Updated logo & favicon</li>
                        </ul>
                    </li>
                    <li>
                        2023-10-17
                        <ul>
                            <li>Added lookup on Skinport</li>
                            <li>Updated design to look more modern</li>
                        </ul>
                    </li>
                    <li>
                        2023-10-14
                        <ul>
                            <li>Added preview images to sticker search</li>
                            <li>Added preview images to selected stickers</li>
                            <li>Added option to see all available stickers by typing * into the search field</li>
                            <li>Fixed some broken items</li>
                        </ul>
                    </li>
                    <li>
                        2023-10-01
                        <ul>
                            <li>Inspect any craft ingame without a server</li>
                            <li>Added PosId to selected stickers</li>
                            <li>Fixed an issue which prevented the gencode to update when stickers have been moved using drag &amp; drop.</li>
                        </ul>
                    </li>
                    <li>
                        2023-09-01
                        <ul>
                            <li>Added all missing BuffIds</li>
                            <li>Added lookup on Buff163</li>
                            <li>Fixed some broken stickers</li>
                            <li>Fixed Lore finishes on Knifes</li>
                        </ul>
                    </li>
                    <li>
                        2023-08-13
                        <ul>
                            <li>Fixed missing Warhammer 40,000 stickers</li>
                        </ul>
                    </li>
                    <li>
                        2023-08-11
                        <ul>
                            <li>Added all knives to weapon search</li>
                            <li>Added option to hide knives from the search results</li>
                            <li>Fixed some broken stickers from Boston 2018</li>
                            <li>Added more buff data</li>
                            <li>Updated compiler to take not of knife collections</li>
                        </ul>
                    </li>
                    <li>
                        2023-08-07
                        <ul>
                            <li>Added logo</li>
                            <li>Added first buff data</li>
                            <li>Improved BuffIdGrabber performance</li>
                        </ul>
                    </li>
                    <li>
                        2023-07-08
                        <ul>
                            <li>Added support for moving selected stickers with drag &amp; drop</li>
                        </ul>
                    </li>
                    <li>
                        2023-06-12
                        <ul>
                            <li>Added GitHub Actions workflow to automatically deploy the website</li>
                            <li>Adjusted domain to fully use cs-gencodes.com instead of GitHub URL</li>
                            <li>Fixed broken links</li>
                        </ul>
                    </li>
                    <li>
                        2023-06-04
                        <ul>
                            <li>Added "Lookup on csgofloat" search</li>
                            <li>Added button to reset selected weapon choice</li>
                        </ul>
                    </li>
                    <li>
                        2023-06-03
                        <ul>
                            <li>Added Paris 2023 Champion stickers</li>
                        </ul>
                    </li>
                    <li>
                        2023-05-21
                        <ul>
                            <li>Fixed various items</li>
                            <li>Improved low gencodes for low-float skins</li>
                            <li>Added Stockholm 2021 Champion Autographs</li>
                            <li>Added Antwerp 2022 Champion Autographs</li>
                            <li>Added Rio 2022 Champion Autographs</li>
                        </ul>
                    </li>
                    <li>
                        2023-05-12
                        <ul>
                            <li>Added CSGO Sticker Search for all stickers</li>
                            <li>Added 5x CSGO Sticker Search</li>
                            <li>Set title of main page</li>
                            <li>Fixed spacing for buttons</li>
                        </ul>
                    </li>
                    <li>
                        2023-05-11
                        <ul>
                            <li>Added P250 X-Ray</li>
                            <li>Fixed various stickers from Paris 2023</li>
                            <li>Fixed M4A4 Red DDPAT</li>
                            <li>Moved buttons to remove all stickers to the top</li>
                        </ul>
                    </li>
                    <li>
                        2023-05-05
                        <ul>
                            <li>Added Paris 2023 stickers</li>
                        </ul>
                    </li>
                    <li>
                        2023-05-04
                        <ul>
                            <li>Added Cologne 2016 stickers</li>
                            <li>Added Atlanta 2017 stickers</li>
                            <li>Added Krakow 2017 stickers</li>
                            <li>Added MLG Columbus 2016 stickers</li>
                        </ul>
                    </li>
                    <li>
                        2023-05-03
                        <ul>
                            <li>Added Cluj-Napoca 2015 stickers</li>
                            <li>Added Boston 2018 stickers</li>
                            <li>Added London 2018 stickers</li>
                            <li>Added Katowice 2019 stickers</li>
                            <li>Added Cologne 2015 stickers</li>
                        </ul>
                    </li>
                    <li>
                        2023-05-02
                        <ul>
                            <li>Added missing stickers to Community Sticker Capsule 1</li>
                            <li>Added Berlin 2019 stickers</li>
                            <li>Added RMR 2020 stickers</li>
                            <li>Added Rio 2022 stickers</li>
                        </ul>
                    </li>
                    <li>
                        2023-05-01
                        <ul>
                            <li>Added Antwerp 2022 stickers</li>
                            <li>Added Community Sticker Capsules stickers</li>
                            <li>Added Stockholm 2021 stickers</li>
                            <li>Added all missing skin collections</li>
                            <li>Added dark mode</li>
                            <li>Added copy gencode button</li>
                            <li>Added social media links on bottom of page</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>