@page "/changelog"

<section id="skingenerator">
    <div class="wrapper">
        <div class="container py-14 py-md-17">
            <div class="changelog">
                <h3 class="text-white">Changelog</h3>
                <ul>
                    <li>
                        2023-05-03
                        <ul>
                            <li>Added Cologne 2015 stickers</li>
                        </ul>
                    </li>
                    <li>
                        2023-05-02
                        <ul>
                            <li>Added missing stickers to Community Sticker Capsule 1</li>
                            <li>Added Berlin 2019 stickers</li>
                            <li>Added RMR 2020 stickers</li>
                            <li>Added Rio 2022 stickers</li>
                        </ul>
                    </li>
                    <li>
                        2023-05-01
                        <ul>
                            <li>Added Antwerp 2022 stickers</li>
                            <li>Added Community Sticker Capsules stickers</li>
                            <li>Added Stockholm 2021 stickers</li>
                            <li>Added all missing skin collections</li>
                            <li>Added dark mode</li>
                            <li>Added copy gencode button</li>
                            <li>Added social media links on bottom of page</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>